body {
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
}
.container{
    width: 629px;
    margin: 0 auto;
}

.header {}

.container-header {
    justify-content: space-between;
    width: 1090px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 93px;
    height: 37px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 40px;
}

.header-item {
    margin: 0;
}

.header-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.header-span {
    font-size: 12px;
}





/* MORE HEADER */

.header-list-more {
    list-style: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    margin: 0;
    width: 100px;
    gap: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.more-item {
    cursor: pointer;
    font-size: 12px;
    align-items: center;
}
.more-item:hover{
    background-color: #f1f1f1;
}

.header-btn-more {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 4px solid white;
    border-radius: 50%;
}

.header-btn-more:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

.header-item-more {
    position: relative;
}
.hidden {
    display: none;
}




/* MODAL */

.hidden {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.modal {
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 392px;
    min-height: 223px;
    transform: translate(-50%, -50%);
}
.modal-close {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 97%;
}

.modal-close:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}


.modal p {
    margin: 0;
    font-size: 12px;
    color: black;
}

.modal-title {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: black;
}

.modal-label {
    display: block;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 12px;
    color: black;
}

.modal-input {
    width: 165px;
    height: 35px;
    background-color: #cfcfcf;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.modal-btn {
    color: white;
    background-color: black;
    text-align: center;
    width: 105px;
    height: 35px;
    border-radius: 20px;
    border: none;
    padding: 0;
}

.modal-btn:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}




/* FIRST YEAR GAME */
main{
    margin-top: 34px;
    margin-bottom: 34px;
}
.year-section{
    align-items: center;
    text-align: center;
}
.main-title {
    height: 29px;
    font-size: 24px;
    color: black;
    font-weight: 400;
}
.year-game {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}
.year-title {
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
}

.year-wrapper {
    width: 215px;
    height: 35px;
    display: flex;              
    align-items: center;
}

.year-text {
    flex: 1;                  
    height: 100%;
    padding-left: 12px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #D7D7D7;
    outline: none;
}

.year-btn {
    width: 40px;
    height: 100%;
    border: none;
    background-color: black;
    color: white;               
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-result {
    height: 15px;
    font-size: 12px;
}
.img-year{
    width: 15px;
    height: 15px;
}