body {
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
}

.container {
    width: 629px;
    margin: 0 auto;
}

.header {}

.container-header {
    width: 1440px;
    justify-content: space-between;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 93px;
    height: 37px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 40px;
}

.header-item {
    margin: 0;
}

.header-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.header-span {
    font-size: 12px;
}





/* MORE HEADER */

.header-list-more {
    list-style: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    margin: 0;
    width: 100px;
    gap: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.more-item {
    cursor: pointer;
    font-size: 12px;
    align-items: center;
}

.more-item:hover {
    background-color: #f1f1f1;
}

.header-btn-more {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 4px solid white;
    border-radius: 50%;
}

.header-btn-more:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

.header-item-more {
    position: relative;
}

.hidden {
    display: none;
}




/* MODAL */

.hidden {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.modal {
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 392px;
    min-height: 223px;
    transform: translate(-50%, -50%);
}

.modal-close {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 97%;
}

.modal-close:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}


.modal p {
    margin: 0;
    font-size: 12px;
    color: black;
}

.modal-title {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: black;
}

.modal-label {
    display: block;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 12px;
    color: black;
}

.modal-input {
    width: 165px;
    height: 35px;
    background-color: #cfcfcf;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.modal-btn {
    color: white;
    background-color: black;
    text-align: center;
    width: 105px;
    height: 35px;
    border-radius: 20px;
    border: none;
    padding: 0;
}

.modal-btn:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}




/* FIRST YEAR GAME */
main {
    margin-top: 34px;
    margin-bottom: 34px;
}

.year-section {
    align-items: center;
    text-align: center;
}

.main-title {
    height: 29px;
    font-size: 24px;
    color: black;
    font-weight: 400;
}

.year-num-game {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.title {
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
}

.year-num-wrapper {
    width: 215px;
    height: 35px;
    display: flex;
    align-items: center;
}

.year-num-text {
    flex: 1;
    height: 100%;
    padding-left: 12px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #D7D7D7;
    outline: none;
}

.year-num-btn {
    width: 40px;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-num-result {
    height: 15px;
    font-size: 12px;
}

.img-num-year {
    width: 15px;
    height: 15px;
}

.num-section {
    text-align: center;
}


/* RPS */
.RPS-section {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.rps-btn-wrapper {
    margin: 0 auto;
    width: 256px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rps-btn {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;

    background-color: black;
    padding: 10px;
}

.rps-btn:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

.rps-result-text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 12px;
}

.rps-score {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.main-score {
    font-weight: 600;
    margin-bottom: 5px;
}

.pc-score,
.human-score {
    margin: 5px 0;
}

.pc-num-score,
.human-num-score {
    font-weight: 600;
}


.pc-btn-variable {
    width: 182px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: Montserrat Alternates;
    font-size: 12px;
    display: block;
}


/* CALC */

.calc-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.calc-input,
.result-input {
    width: 135px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #D7D7D7;
    text-align: center;
    font-size: 12px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.op-btn,
.equals-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.op-btn:hover,
.equals-btn:hover {
    background-color: rgb(17, 17, 17);
}


/* TIME */


.time-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
}


/* .time-input {
    flex: 1;
    height: 100%;
    padding-left: 12px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #D7D7D7;
    outline: none;
}

.year-num-btn {
    width: 40px;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.dots-span {
    width: 100px;
}

.time-result {
    height: 15px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

/* DINOSAUR */
.game-container {
    position: relative;
    width: 100%;
    height: 241px;
    margin: 0 auto;
}

.game {
    background-image: url(./imgs/dinoBg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 150px;
}

.dinosaur {
    position: relative;
    background-image: url(./imgs/dino.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    top: 64px;
}

.dino-jump {
    animation: dino-jump 0.3s linear;
}

@keyframes dino-jump {
    0% {
        top: 64px;
    }

    10% {
        top: 45px;
    }

    20% {
        top: 20px;
    }

    30% {
        top: 0px;
    }

    40% {
        top: -30px;
    }

    50% {
        top: -50px;
    }

    60% {
        top: -30px;
    }

    70% {
        top: 0px;
    }

    80% {
        top: 22px;
    }

    90% {
        top: 40px;
    }

    100% {
        top: 64px;
    }
}

.google-dinosaur {}

.cactus {
    background-image: url(./imgs/photo_2025-12-13_14-37-02.jpg);
    width: 25px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 25px 45px;
    position: relative;
    top: 20px;
    animation: cactus-move 1.3s infinite linear;
}

@keyframes cactus-move {
    0% {
        left: 615px;
    }

    100% {
        left: -10px;
    }
}

.game-over {
    display: none;
    position: absolute;
    top: 0px;
    right: 20%;
    z-index: 999;

    & .game-over-title {
        margin: 18px 0;
    }

    & .restart {
        width: 72px;
        height: 64px;
        margin: 0px 10px;
        background-image: url(/img/restartBtn.png);
        background-repeat: no-repeat;
        border: none;
        border-radius: 20px
    }
}

;

.over-title {}

.over-restart-btn {}


/* SOCER */

.socer-wrapper {
    width: 628px;
    height: 220px;
    background-color: #5ABB58;
    outline: 2px solid black;
    border-radius: 37px;
    position: relative;
    margin-top: 30px;
}

.socer-ball {
    position: absolute;
    top: 40%;
    left: 100px;
}


/* BIGGEST NUM */

.three-nums-ssection {
    text-align: center;
}

.three-nums-wrapper {
    display: flex;
    justify-content: space-between;
}

.three-nums {
    text-align: center;
    height: 35px;
    width: 135px;
    border: none;
    border-radius: 20px;
    background-color: #D7D7D7;
    outline: none;
}

.three-num-btn {
    width: 102px;
    height: 35px;
    background-color: #000;
    border: none;
    color: white;
    border-radius: 20px;
}


/* SLIDER */
.slider-section {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.slider {
    margin: 0 auto;
    overflow: hidden;
    width: 628px;
    position: relative;
}

.slider-track {
    display: flex;
}

.slide {
    margin-top: 30px;
    min-width: 628px;
}

.slider-photo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.slider-name {
    font-weight: 400;
    font-size: 14px;
}

.slider-info {
    font-size: 12px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    border: none;
    background-color: #6a6a6a;
    color: #6a6a6a;
    border-radius: 50%;
}

.slider-btn:hover {
    cursor: pointer;
}

.prev-btn {
    left: 5px
}

.next-btn {
    right: 5px;
}

/* CARDS */
.cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 59px;
    max-width: 628px;
}

.cards li {
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}

.btns-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    align-items: center;
}
.cards-btns {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 22px;
    font-size: 12px;
    text-align: center;
}

.cards-btns:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}


/* FOOTER */

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-footer {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.footer-logo {
    width: 165px;
    height: 70px;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-list {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}

.footer-item {
    margin-bottom: 4.5px;
}

.footer-wrapper {}

.footer-email {
    padding: 0;
    width: 204px;
    height: 35px;
    background-color: #D7D7D7;
    border-radius: 20px;
    border: none;
    padding-left: 12px;
    font-size: 12px;
    margin-right: 35px;
}

.footer-sub-btn {
    height: 35px;
    width: 107px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.footer-sub-btn:hover {
    cursor: pointer;
    background-color: rgb(17, 17, 17);
}

.footer-hint {
    font-size: 7px;
    font-weight: 500;
    margin-top: 30px;
}