body{
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
}

.header {
}

.container-header {
    justify-content: space-between;
    width: 1090px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 93px;
    height: 37px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 40px;
}

.header-item {
    margin: 0;
}

.header-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.header-btn{
    width: 45px;
    height: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #7A7A7A;
}